* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
    padding: 72px 20px 80px;
    margin: 0 auto;
}

.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 24px 18px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.left {
    flex: 1;
    max-width: 500px;
    text-align: left;
    align-self: center;
    padding-right: 40px;
}

.right {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb_logo {
    margin-left: -30px;
}

.facebook_desc_text {
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin-top: 10px;
}

input {
    width: 360px;
    padding: 14px 16px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

input:focus {
    outline: none;
    border-color: #1877f2;
}

button {
    width: 360px;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}

button:first-of-type {
    background-color: #0866ff;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

button:first-of-type:hover {
    background-color: #2679ff;
}

button:last-of-type {
    background-color: #42b72a;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    width: 70%;
    margin-bottom: 0;
}

button:last-of-type:hover {
    background-color: #39a623;
}

a {
    color: #2679ff;
    text-decoration: none;
    font-size: 14px;
}

#create_page {
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
    width: 100%;
}

p {
    text-align: center;
    margin-top: 28px;
    font-size: 14px;
    max-width: 390px;
}

footer {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    font-size: 12px;
    color: #8a8d91;
    margin-top: auto;
}

footer > div {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-lang {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 10px;
    line-height: 1;
}

#plus {
    padding: 0 8px;
    background-color: #F5F6F7;
    border-radius: 3px;
    border: 1px solid #dadada;
    font-size: 20px;
    font-weight: bold;
    color: #737373;
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 1000px;
    border-top: 1px solid #ddd;
    text-align: left;
    padding-top: 16px;
    margin-top: 10px;
    line-height: 1.2;
}

footer a {
    color: #737373;
    font-size: 12px;
    padding: 0 2px;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    display: block;
    max-width: 1000px;
    margin: 16px 0 0 20px;
    padding: 0;
    font-size: 11px;
    color: #737373;
    text-align: left;
}

#password-forgot {
    margin: 16px 0;
    display: block;
}