.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-family: "Apple Braille", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;
}
