* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans
}

body {
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: stretch;
    min-height: 100vh;
    padding-bottom: 100px;
    gap: 120px;
}

.left {
    width: 600px;
    padding: 20px;
    text-align: center;
    padding-top: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left .logo {
    width: 60px;
    margin-bottom: 20px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.left .text {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #262626;
}

.left .text span {
    background: linear-gradient(
        90deg,
        #fa7e1e,
        #d6294c,
        #d62976,
        #962fbf
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.left .mockup {
    width: 95%;
}

.right {
    width: 500px;
    background-color: #ffffff;
    border-left: 1px solid #dbdbdb; 
    padding: 40px ;
    text-align: center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right h2 {
    text-align: left;
    color: #0a1317;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input {
    padding: 10px 16px;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;
    height: 45px;
}

.login-form input:focus {
    outline: none;
    border-color: #a8a8a8;
}

.login-form button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 12px;
    background-color: #0064e0;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor:not-allowed;
}

.login-form button:hover {
    background-color: #3797ef;
}

.forgot {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 15px 0;
    font-size: 12px;
    color: #282828;
    text-decoration: none;
    margin-bottom: 45px;
}



.facebook-btn {
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.facebook-btn img {
    width: 12px;
    height: 12px;
    margin-right: 12px;
}

.signup {
    width: 100%;
    color: #0064e0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #0064e0;
    border-radius: 20px;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meta {
    margin-top: 20px;
    width: 60px;
    align-self: center;
}

footer {
    width: 100%;
    padding: 30px 20px;
    border-top: 1px solid #dbdbdb;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
    font-size: 10px;
    color: #8e8e8e;
}

footer li {
    cursor: pointer;
}

footer li:hover {
    text-decoration: underline;
}

footer li div {
    display: flex;
    align-items: center;
    gap: 5px;
}
